:root {
    --primaryFont-color:bisque;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/*Header section*/
header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 15px;

}
header h1{
    text-shadow: 5px 4px 4px rgba(153, 152, 152, 0.8);
    font-weight: bolder;
    font-size: larger;
    color: var(--primaryFont-color);
}

/*Nav section in header section*/
header nav ul li{
    display: inline;
    font-style: oblique;
    padding:0 10px;
    margin:0 15px;
    list-style: none;
    text-decoration: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--primaryFont-color);
}

body{
    background-color: #444444;
    background-image: url("../images/header-dev.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* About me section strip*/
.me-section{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color:var(--primaryFont-color);
    margin-bottom: 50px;
}

.my-pic{
    padding: 30px;
    margin-left: 35px;
    height: 300px;
    width: 250px;
    overflow:hidden;
    border-right: 1px solid whitesmoke;
    display: inline;
}

.my-pic img {
    border-radius: 400px;
    width: 100%;
}

/*general use for headers*/
.title-section{
    text-shadow: 5px 4px 5px rgba(153, 152, 152, 0.8);
    padding:5px;
    border-bottom: 1px solid whitesmoke;
}

/*about me block*/
.about-me-section{
    text-align: center;
    padding-left: 50px;
    height: 250px;
    width: 470px;
    margin-top: 35px;
}

/*header section of about me */
.about-me-section h2{
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 150px;
}

/*bottom half of about me section*/
.about-me-section span{
    padding-top:10px;
    text-emphasis: 10;
    line-height: 1.4;
}

.about-me-section p{
    line-height: 1.2;
}
/*end of about me section*/

.my-work-parent{
    position: relative;
    background-color: rgb(197, 197, 197);
}

.my-work h2{
    text-align: center;
    align-items:center;
    padding-top:40px;
}

.my-work-div{
    width: 15%;
    padding-top:70px;
    padding-bottom: 20px;
}

/*All projects container*/
.hover-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*before hover*/
.hover-project-container{
    width: 30%;
    height: 25%;
    margin: 25px;

}

.hover-project-container img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    overflow: auto;
}

/*hovering over projects*/
.hover-project-container:hover{
    transform:scale(1.6);
    padding: 10px;
    border: 2px solid black;
    opacity: .95;
    box-shadow: 5px 3px 6px rgba(153, 152, 152, 0.8);
    background-color: black;
    z-index: 5;
    
}

.hover-project-container h3:after {
    text-align: center;
    text-shadow: 5px 4px 5px rgba(153, 152, 152, 0.8);
    color: whitesmoke;
}

.hover-project-container img:hover {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100% ;
}







