:root {
    --primaryFont-color:bisque;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/*Header section*/
header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 15px;

}
header h1{
    text-shadow: 5px 4px 4px rgba(153, 152, 152, 0.8);
    font-weight: bolder;
    font-size: larger;
    color: var(--primaryFont-color);
}

/*Nav section in header section*/
header nav ul li{
    display: inline;
    font-style: oblique;
    padding:0 10px;
    margin:0 15px;
    list-style: none;
    text-decoration: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--primaryFont-color);
}

body{
    background-color:black;
    background-image: url("../images/header-dev.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* About me section strip*/
.me-section{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color:var(--primaryFont-color);
    margin-bottom: 50px;
}

.my-pic{
    padding: 30px;
    margin-left: 35px;
    height: 300px;
    width: 250px;
    overflow:hidden;
    border-right: 1px solid whitesmoke;
    display: inline;
}

.my-pic img {
    border-radius: 400px;
    width: 100%;
}

/*general use for headers*/
.title-section{
    text-shadow: 5px 4px 5px rgba(153, 152, 152, 0.8);
    padding:5px;
    border-bottom: 1px solid whitesmoke;
}

.middle-title-section{
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.8);
    padding:5px;
}

/*about me block*/
.about-me-section{
    text-align: center;
    padding-left: 50px;
    height: 250px;
    width: 470px;
    margin-top: 35px;
}

/*header section of about me */
.about-me-section h2{
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 150px;
}

/*bottom half of about me section*/
.about-me-section span{
    padding-top:10px;
    text-emphasis: 10;
    line-height: 1.4;
}

.about-me-section p{
    line-height: 1.2;
}
/*end of about me section*/

.my-work-parent{
    position: relative;
    background-color: rgb(197, 197, 197);
}

.my-work h2{
    text-align: center;
    align-items:center;
    padding-top:40px;
}

.my-work-div{
    width: 15%;
    padding-top:30px;
    margin-bottom: 50px;
    margin:auto;
    text-shadow: 4px 5px rgb(96 96 96 / 80%);
    text-align: center;
    border-bottom: solid black 1px;
}

/*All projects container*/
.hover-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*before hover*/
.hover-project-container{
    width: 30%;
    height: 25%;
    margin: 25px;

}

.hover-project-container img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    overflow: auto;
}

/*hovering over projects*/
.hover-project-container:hover{
    transform:scale(1.6);
    padding: 10px;
    border: 2px solid black;
    opacity: .95;
    box-shadow: 5px 3px 6px rgba(153, 152, 152, 0.8);
    background-color: black;
    z-index: 5;
    
}

.hover-project-container h3:after {
    text-align: center;
    text-shadow: 5px 4px 5px rgba(153, 152, 152, 0.8);
    color: whitesmoke;
}

.hover-project-container img:hover {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100% ;
}

/*contact me section*/
.contact-section{
    display:flex;
    align-items:center; /*aligns vertical with flexbox */
    height:200px;
    color: var(--primaryFont-color);
    padding-left:20px;
}

.my-contact{
    justify-content: end;
    margin-left: 5%;
    line-height: 1.7;
}

.my-contact a{
    text-decoration: none;
    color: inherit;
}

/*MEDIA QUERY FOR DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width:980px){
    /*screens smaller than 980px will be effected by this*/
    body{
        background-position-x: center;
        background-repeat:repeat;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */ 
@media screen and (max-width: 768px){
    /*screens smaller than 768px will be effected by this*/
    * {
        font-size:larger;
    }
     
    header{
        font-size: medium;
    }

    .me-section{
        flex: 1 100%;
        text-align: center;
        padding-bottom: 80%;
    }
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width:575px){
     /*screens smaller than 575px will be effected by this*/
     body{
         background-image:none;
         background-color: black;
     }

     header{
        width:100%;
        align-items: flex-start;
     }

     nav{
         text-align: center;
    }

    .my-pic{
        margin:auto;
        border:none;
        border-bottom: 1px solid white;
    }

    .about-me-section{
        text-align: center;
        height: 270px;
        margin:auto;
    }

    .about-me-section h2{
        width: 100%;
        border:none;
        padding-right: 60px;
    }

    .about-me-section p{
        line-height: .9;
        width: 100%;
    }

    .my-work-div{
        width:100%;
        border-bottom: 1px solid black;
        margin:auto;
    }

    .hover-section div h3{
        font-size: medium;
    }

    /*contact me section*/
    .contact-section h2{
        text-align: center;
    }

    .my-contact{
        font-size: large;
    }

}








